# Google Apps Script Web App Deployment URL for Electron Desktop App
GOOGLE_SHEETS_WEBAPP_URL="https://script.google.com/macros/s/YOUR_GOOGLE_APPS_SCRIPT_ID/exec"

# Google Apps Script Web App Deployment URL for Vite React Web Client
VITE_GOOGLE_SHEETS_WEBAPP_URL="https://script.google.com/macros/s/YOUR_GOOGLE_APPS_SCRIPT_ID/exec"
